

/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */

html,body{
  background:url(../img/lightpaperfibers.png);
}

#cover-photo{
  margin-top:-1.5%;
  padding:12%;
  color:#f0f0f0;
  text-shadow: black 0.1em 0.1em 0.2em;
  border-bottom:1px solid #3f3f3f;
  position:relative;
  z-index:3;


  background:url(../img/temp-background.jpeg) no-repeat;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}



#what-is-zinstry,#how-does-it-work,
#our-community{
  position:relative;
  z-index:1;
}

#how-does-it-work{
  background:url(../img/bgnoise_lg.png);

}
.nav-collapse{
	float:right;
}

.carousel-caption>p {
  color: #ffffff;
}

div.sep {
position:absolute;
width: 100%;
height: 25px;
background-color: #3f3f3f;
border-top: #AAA;
border-bottom: #AAA;
}


.footer {
    position: relative;
	/*margin-top: -150px;  negative value of footer height */
	min-height: 150px;
	clear:both;
    padding-top:20px;
    color:#fff;
    margin-bottom:-40px;
} 

#foot{
  background-color:#c2c2c2;

}

#contact{
  position:fixed;
  right:0%;
  bottom:-20px;
  z-index:100000;
  border:.3em solid #4288A3;
  border-right:0px;
  padding:8px;
  padding-right:0px;
  background:#5c8fa3;

-webkit-border-top-left-radius: 10px;
-moz-border-radius-topleft: 10px;
border-top-left-radius: 10px;
}

#contact-button{
  position:absolute;
  left:-.25em;
  font-size:26px;
}

#contact-button:hover{
  opacity:.7;
}

.collapsed{
  overflow:hidden;
  height:5%;
}

.question{
  position:absolute;
/*  min-height:100%;*/
  width:2em;
  min-height:100%;
}

#signup-main{
  position:fixed;
  z-index:2;
  opacity:.9;

}


