

/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */

html,body{
  background:url(../img/lightpaperfibers.png);
}

#cover-photo{
  margin-top:-1.5%;
  padding:12%;
  color:#f0f0f0;
  text-shadow: black 0.1em 0.1em 0.2em;
  border-bottom:1px solid #3f3f3f;

  background:url(../img/happy_people.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

#how-does-it-work{
  background:url(../img/bgnoise_lg.png);
  
}
.nav-collapse{
	float:right;
}

.carousel-caption>p {
  color: #ffffff;
}

div.sep {
position:absolute;
width: 100%;
height: 25px;
background-color: #3f3f3f;
border-top: #AAA;
border-bottom: #AAA;
}


.footer {
    position: relative;
	/*margin-top: -150px;  negative value of footer height */
	min-height: 150px;
	clear:both;
    padding-top:20px;
    color:#fff;
    margin-bottom:-40px;
} 

#contact{
  position:fixed;
  top:20%;
  right:0px;
  z-index:100000;
  border:3px solid #aaaaaa;
  border-right:0px;
  padding:8px;
  padding-right:0px;
  background:#dddddd;

-webkit-border-top-left-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-bottomleft: 10px;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
}

#contact-button{
  position:absolute;
  left:-.25em;
  font-size:26px;
}

#contact-button:hover{
  opacity:.7;

}
#foot{
  background-color:#c2c2c2;

}

.collapsed{
  overflow:hidden;
  width:1.5%;
}

.question{
  position:absolute;
/*  min-height:100%;*/
  width:2em;
  min-height:100%;
}

.question>h3{
  line-height:.7em;

  -webkit-writing-mode:vertical-lr;
  -moz-writing-mode:vertical-lr;
  -moz-writing-mode:vertical-lr;
  -ms-writing-mode:vertical-lr;
  -o-writing-mode:vertical-lr;


}

.rotate {
/* Safari */

-webkit-transform: rotate(180deg);

/* Firefox */
-moz-transform: rotate(180deg);

/* IE */
-ms-transform: rotate(180deg);

/* Opera */
-o-transform: rotate(180deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);

}


