

/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */

html,body{
  background:url(../img/lightpaperfibers.png);
}

.nav-collapse{
	float:right;
}

.carousel-caption>p {
  color: #ffffff;
}

div.sep {
position:absolute;
width: 100%;
height: 25px;
background-color: #3f3f3f;
border-top: #AAA;
border-bottom: #AAA;
}


.footer {
    position: relative;
	/*margin-top: -150px;  negative value of footer height */
	min-height: 150px;
	clear:both;
    padding-top:20px;
    color:#fff;
    margin-bottom:-40px;
} 

#contact{
  position:fixed;
  right:0px;
  z-index:100000;
  border:3px solid #aaaaaa;
  border-right:0px;
  padding:8px;
  padding-right:0px;
  background:#dddddd;
}

#contact-button{
  position:absolute;
  left:0em;
  font-size:26px;
}

#contact-button:hover{
  opacity:.7;

}
#foot{
  background-color:#c2c2c2;

}

.collapsed{
  overflow:visible;
  width:1.5%;
}
/*div{
	border:1px solid;
}*/

